In [1]:
import os
import pandas as pd

In [2]:
dataset_dir = "njmin"

In [3]:
codebook_path = os.path.join(dataset_dir, "codebook")
data_path = os.path.join(dataset_dir, "public.dat")

In [4]:
with open(codebook_path, 'r', encoding='latin1') as f:
    codebook = f.readlines()
    
codebook_lines = codebook[7:59]

In [5]:
variable_lines = []
for i, line in enumerate(codebook_lines):
    if i not in [4,5,12,13,31,32]:
        variable_lines.append(line)

In [6]:
variable_names = []
for line in variable_lines:
    variable_names.append(line[:13].strip().lower())

In [7]:
print(variable_names)

['sheet', 'chain', 'co_owned', 'state', 'southj', 'centralj', 'northj', 'pa1', 'pa2', 'shore', 'ncalls', 'empft', 'emppt', 'nmgrs', 'wage_st', 'inctime', 'firstinc', 'bonus', 'pctaff', 'meals', 'open', 'hrsopen', 'psoda', 'pfry', 'pentree', 'nregs', 'nregs11', 'type2', 'status2', 'date2', 'ncalls2', 'empft2', 'emppt2', 'nmgrs2', 'wage_st2', 'inctime2', 'firstin2', 'special2', 'meals2', 'open2r', 'hrsopen2', 'psoda2', 'pfry2', 'pentree2', 'nregs2', 'nregs112']

In [8]:
df = pd.read_fwf(data_path, header=None)
df.columns = variable_names

In [9]:
df

,sheet,chain,co_owned,state,southj,centralj,northj,pa1,pa2,shore,...,firstin2,special2,meals2,open2r,hrsopen2,psoda2,pfry2,pentree2,nregs2,nregs112
0,46,1,0,0,0,0,0,1,0,0,...,0.08,1,2,6.50,16.50,1.03,.,0.94,4,4
1,49,2,0,0,0,0,0,1,0,0,...,0.05,0,2,10.00,13.00,1.01,0.89,2.35,4,4
2,506,2,1,0,0,0,0,1,0,0,...,0.25,.,1,11.00,11.00,0.95,0.74,2.33,4,3
3,56,4,1,0,0,0,0,1,0,0,...,0.15,0,2,10.00,12.00,0.92,0.79,0.87,2,2
4,61,4,1,0,0,0,0,1,0,0,...,0.15,0,2,10.00,12.00,1.01,0.84,0.95,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,423,2,1,1,0,0,1,0,0,0,...,0.50,0,1,11.00,11.00,1.05,0.84,2.32,3,2
406,424,2,1,1,0,0,1,0,0,0,...,0.50,0,1,11.00,14.00,1.05,0.94,2.32,5,3
407,426,3,1,1,0,0,1,0,0,0,...,0.25,1,2,6.00,18.00,1.11,1.05,1.05,6,5
408,427,4,0,1,0,0,1,0,0,0,...,.,1,2,10.50,12.50,1.11,1.09,2.07,2,2
409,428,4,0,1,0,0,1,0,0,0,...,0.10,0,2,10.50,12.50,1.05,0.89,2.11,2,2

In [10]:
df.shape

(410, 46)

In [11]:
df.to_csv("Card and Krueger.csv", index=False)